@use '../components/logo';
@use '../components/search-bar';
@use '../components/user-nav';
@use '../base' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2rem;
    font-size: 1.4rem;
    border-bottom: .1rem var(--color-grey-light-2) solid;

    @include mq (smallest) {
        flex-wrap: wrap;
        align-content: space-around;
      }
}