@use '../base' as *;
.side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;

  @include mq (medium) {
    display: flex;
    margin-top: 0;
  }

  &__item {
    list-style: none;
    position: relative;

    @include mq (medium) {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @include mq (medium) {
        margin-bottom: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0.3rem;
      height: 100%;
      background-color: var(--color-primary-red);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s 0.2s cubic-bezier(1, 0, 0, 1), background-color .1s;
    }

    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
        background-color: var(--color-primary-red-light);
    }

    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }
  }

  &__link {
    &:link,
    &:visited {
      position: relative;
      z-index: 1;
      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;

      display: flex;
      align-items: center;

      @include mq (medium) {
        justify-content: center;
        padding: 2rem;
      }

      @include mq (small) {
        flex-direction: column;
        padding: 1.5rem .5rem;
      }
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;

    @include mq (small) {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0;
      margin-bottom: .7rem;
    }
  }
}
